@charset "utf-8";
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth; /* 부드러운 스크롤 */
}
/* 드래그 */
::selection {
  background-color: #000000;
  color: white;
}
/* 스크롤바 */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: #fff;
}
::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 10px;
}
body {
  line-height: 1.5;
  overflow-x: hidden;
  word-break: break-all;
  overflow-wrap: break-word;
  background-color: #f7f5f4;
}
/***** header *****/
header {
  height: 70vh;
  display: grid;
  width: 100%;
}
.gnb {
  display: flex;
  width: 30%;
  justify-content: space-around;
  font-family: 'Pretendard', '맑은 고딕', '돋움', sans-serif;
  font-size: 1.2rem;
  position: fixed;
  top: 2.5%;
  right: 0;
}

.gnb li::after {
  content: '';
  width: 0%;
  background: #000000;
  height: 2px;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}
.gnb li:hover ::after {
  text-decoration: underline;
  text-underline-offset: 7px;
  width: 100%;
}
header h1 {
  font-size: 7rem;
  font-family: 'Book Antiqua', 'Noto Sans', Arial, Helvetica, sans-serif;
  text-align: center;
  line-height: 10rem;
  align-self: center;
}
/**** main ****/
/*** project ***/
article {
  margin-top: 20vh;
  margin: 0 auto;
  width: 90%;
}
.project-txt {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 100px;
}
.project-txt h3 {
  font-family: 'Book Antiqua', 'Noto Sans', Arial, Helvetica, sans-serif;
  font-size: 2rem;
}
.project-txt p {
  font-family: 'Pretendard', '맑은 고딕', '돋움', sans-serif;
  font-size: 1.1rem;
  align-self: center;
}
.project-list ul {
  position: relative;
}
.project-list ul li {
  font-family: 'Book Antiqua', 'Noto Sans', Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
}
.large-txt {
  font-size: 5rem;
  font-family: 'Book Antiqua', 'Noto Sans', Arial, Helvetica, sans-serif;
}
img {
  display: none;
}
/*** skill ***/
.arti-skill {
  margin-top: 20vh;
  line-height: 2;
}
.arti-skill h3 {
  font-size: 2rem;
  font-family: 'Book Antiqua', 'Noto Sans', Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding-bottom: 30px;
}
.arti-skill h4 {
  font-size: 1.4rem;
  font-family: 'Book Antiqua', 'Noto Sans', Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding-top: 30px;
  position: relative;
}
.arti-skill h4::before {
  content: '';
  width: 500px;
  background-color: #000000;
  height: 2px;
  position: absolute;
  top: 0;
}
.arti-skill p {
  font-size: 1rem;
  font-family: 'Pretendard', '맑은 고딕', '돋움', sans-serif;
}
.E-font {
  font-family: 'Book Antiqua', 'Noto Sans', Arial, Helvetica, sans-serif;
}
.K-font {
  font-family: 'Pretendard', '맑은 고딕', '돋움', sans-serif;
}
.line {
  padding-bottom: 30px;
}
/***** footer *****/
footer {
  background-color: #000000;
  margin-top: 20vh;
}
