@charset "utf-8";
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth; /* 부드러운 스크롤 */
  -webkit-font-smoothing: antialiased;
}
/* 화면 크기 보정 */
@media (width<=1400px) {
  main {
    margin-top: 70vh;
  }
}
/* font */
.E-font {
  font-family: 'Book Antiqua', 'Noto Sans', Arial, Helvetica, sans-serif;
}
.K-font {
  font-family: 'Pretendard', '맑은 고딕', '돋움', sans-serif;
}
/* 드래그 */
::selection {
  background-color: #000000;
  color: white;
}
/* 스크롤바 */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: #fff;
}
::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 10px;
}

body {
  line-height: 1.5;
  overflow-x: hidden;
  word-break: break-all;
  overflow-wrap: break-word;
  background-color: #f7f5f4;
  transition: 2s;
}
/* 배경색 */
body.bg-color-blue {
  background-color: rgb(154, 198, 255);
}
body.bg-color-yellow {
  background-color: rgb(240, 234, 179);
}
body.bg-color-gray {
  background-color: rgb(197, 197, 197);
}
body.bg-color-orange {
  background-color: rgb(255, 202, 104);
}
body.bg-color-green {
  background-color: rgb(207, 253, 203);
}
body.bg-color-red {
  background-color: rgb(255, 205, 205);
}
body.bg-color-pink {
  background-color: rgb(255, 202, 255);
}
/* move */
header.active .move {
  font-size: 5rem;
  transition: 0.5s;
}
.move {
  z-index: 9999;
  color: #fff;
  font-size: 1.5rem;
  position: fixed;
  top: 0;
  pointer-events: none;
  will-change: transform;
}
/***** header *****/
header {
  height: 70vh;
  display: grid;
  width: 100%;
  background: url(./image/header-title.png) no-repeat 50% / cover;
}
header.color-change .vidio-box .gnb {
  color: #fff;
}
header.color-change .vidio-box .gnb li:hover {
  border-bottom: 2px solid #ffffff;
}
.gnb {
  display: flex;
  width: 100%;
  justify-content: right;
  align-items: center;
  font-family: 'Pretendard', '맑은 고딕', '돋움', sans-serif;
  font-size: 1.2rem;
  position: fixed;
  top: 0;
  z-index: 999;
  height: 60px;
  color: #fff;
}
header.menu-color .gnb {
  background-color: rgba(255, 255, 255, 0.95);
  color: #222;
}
.gnb li {
  margin-left: 7.5%;
}
.gnb li:last-child {
  margin-right: 5%;
}
.gnb li::after {
  content: '';
  width: 0%;
  height: 2px;
  background: #fff;
  display: block;
  transition: 0.5s;
}
header.menu-color .gnb li::after {
  background-color: #222;
}
.gnb li:hover::after {
  width: 100%;
}
header h1 {
  font-size: 7rem;
  font-family: 'Book Antiqua', 'Noto Sans', Arial, Helvetica, sans-serif;
  text-align: center;
  line-height: 10rem;
  padding-top: 30vh;
  color: #fff;
}
.neon {
  color: #cce7f8;
  font-size: 2.5rem;
  font-family: 'Pacifico', cursive;
  animation: shining 0.1s alternate infinite;
}

@keyframes shining {
  from {
    text-shadow: 0 0 6px rgba(182, 211, 207, 0.9),
      0 0 30px rgba(182, 211, 207, 0.3), 0 0 12px rgba(40, 255, 69, 0.5),
      0 0 21px rgba(15, 223, 67, 0.9), 0 0 34px rgba(15, 223, 67, 0.8),
      0 0 54px rgba(92, 255, 154, 0.9);
  }
  to {
    text-shadow: 0 0 6px rgba(182, 211, 207, 1),
      0 0 30px rgba(182, 211, 207, 0.4), 0 0 12px rgba(40, 255, 69, 0.6),
      0 0 22px rgba(15, 223, 67, 0.8), 0 0 38px rgba(15, 223, 67, 0.9),
      0 0 60px rgba(92, 255, 154, 1);
  }
}
.vidio-box video {
  opacity: 0.75;
} 
header .title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
header h2 {
  font-size: 5rem;
  font-family: 'Book Antiqua', 'Noto Sans', Arial, Helvetica, sans-serif;
  text-align: center;
  line-height: 10rem;
  align-self: center;
  padding-top: 15vh;
}
header p {
  font-size: 2rem;
  text-align: center;
  font-family: 'Pretendard', '맑은 고딕', '돋움', sans-serif;
}
/**** main ****/
main {
  margin-top: 100vh;
}
/*** project ***/
article {
  margin-top: 20vh;
  margin: 0 auto;
  width: 90%;
}
.project-txt {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 100px;
}
.project-txt h3 {
  font-family: 'Book Antiqua', 'Noto Sans', Arial, Helvetica, sans-serif;
  font-size: 2rem;
}
.project-txt p {
  font-family: 'Pretendard', '맑은 고딕', '돋움', sans-serif;
  font-size: 1.1rem;
  align-self: center;
}
.project-list {
  display: flex;
  position: relative;
}
.project-list ul {
  position: relative;
  width: 50%;
}
.project-list ul li {
  font-family: 'Book Antiqua', 'Noto Sans', Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  cursor: pointer;
}
.large-txt {
  font-size: 5rem;
  font-family: 'Book Antiqua', 'Noto Sans', Arial, Helvetica, sans-serif;
}
.project-list img {
  position: absolute;
  right: -1000px;
  transform: rotate(0deg);
  transition: 0.5s;
}
/* project-list_hover */
body.bg-color-orange .project-list ul li:first-child .large-txt {
  color: #fff;
  transition: 0.5s;
}
body.bg-color-yellow .project-list ul li:nth-child(2) .large-txt{
  color: #fff;
  transition: 0.5s;
}
body.bg-color-green .project-list ul li:nth-child(3) .large-txt{
  color: #fff;
  transition: 0.5s;
}
body.bg-color-blue .project-list ul li:nth-child(4) .large-txt{
  color: #fff;
  transition: 0.5s;
}
body.bg-color-gray .project-list ul li:nth-child(5) .large-txt{
  color: #fff;
  transition: 0.5s;
}
body.bg-color-red .project-list ul li:nth-child(6) .large-txt{
  color: #fff;
  transition: 0.5s;
}
body.bg-color-pink .project-list ul li:nth-child(7) .large-txt{
  color: #fff;
  transition: 0.5s;
}
/*** skill ***/
.arti-skill {
  margin-top: 20vh;
  line-height: 2;
  display: flex;
}
.arti-skill h3 {
  font-size: 2rem;
  font-family: 'Book Antiqua', 'Noto Sans', Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding-bottom: 30px;
}
.arti-skill h4 {
  font-size: 1.5rem;
  font-family: 'Book Antiqua', 'Noto Sans', Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding-top: 30px;
  position: relative;
}
.arti-skill h4::before {
  content: '';
  width: 50vw;
  background-color: #000000;
  height: 2px;
  position: absolute;
  top: 0;
}
.arti-skill-inner {
  width: 60%;
}
.arti-skill p {
  font-size: 1.2rem;
  font-family: 'Pretendard', '맑은 고딕', '돋움', sans-serif;
}
.arti-skill img {
  width: 40%;
  height: 90vh;
  align-self: center;
}
.line {
  padding-bottom: 30px;
}
/***** footer *****/
footer {
  background-color: #000000;
  margin-top: 20vh;
}
footer .footer-wrapper {
  width: 90%;
  margin: 0 auto;
}
footer h1 {
  position: relative;
  font-size: 7rem;
  font-family: 'Pretendard', '맑은 고딕', '돋움', sans-serif;
  text-align: center;
  line-height: 10rem;
  color: #fff;
  font-weight: bold;
  padding-top: 10vh;
  padding-bottom: 10vh;
  overflow: hidden;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 3s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}
@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}
footer p {
  color: #fff;
  font-size: 1.1rem;
  font-family: 'Book Antiqua', 'Noto Sans', Arial, Helvetica, sans-serif;
}
footer a {
  color: #acacac;
  font-size: 1.1rem;
  font-family: 'Book Antiqua', 'Noto Sans', Arial, Helvetica, sans-serif;
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 3px;
  transition: 0.5s;
}
footer a:hover {
  color: #fff;
}
.footer-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.footer-bottom-1 {
  padding-bottom: 2.5vh;
}
.footer-bottom-2 {
  grid-column: 3/3;
  justify-self: right;
  align-self: center;
}
.gray-color {
  color: #acacac;
}