@charset "utf-8";
*,
*:before,
*:after {
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
body,html {
    width: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
}
body::-webkit-scrollbar {
    display: none;
}
/* font */
.E-font {
font-family: 'Book Antiqua', 'Noto Sans', Arial, Helvetica, sans-serif;
}
.K-font {
font-family: 'Pretendard', '맑은 고딕', '돋움', sans-serif;
}
/* height */
article {
    height: 100vh;
}
/* mouse */
.scroll-downs {
    width :34px;
    height: 55px;
    justify-self: center;
    align-self: flex-start;
}
.mousey {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid #000;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
}
.scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #000;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
}
.scroller p {
    font-size: 3rem;
    line-height: 170px;
    margin-left: -10px;
}
@keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
}
.button {
    --black: #000000;
    --ch-black: #141414;
    --eer-black: #1b1b1b;
    --night-rider: #2e2e2e;
    --white: #ffffff;
    --af-white: #f3f3f3;
    --ch-white: #e1e1e1;
    border-radius: 8px;
    width: 140px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0px 15px;
    border: none;
    color: white;
    position: relative;
    cursor: pointer;
    font-weight: 700;
    transition-duration: .2s;
    background-color: var(--ch-black);
}

.button:before, .button:after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    border-radius: 10px;
    background: linear-gradient(45deg, 
    var(--ch-black), var(--eer-black),
    var(--night-rider), var(--ch-white), var(--night-rider), 
    var(--eer-black), var(--ch-black),var(--ch-black));
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: steam 20s linear infinite;
}

@keyframes steam {
    0% {
    background-position: 0 0;
    }

    50% {
    background-position: 400% 0;
    }
    100% {
    background-position: 0 0;
    }
  }
  
.button:after {
    filter: blur(50px);
}

@media (width >= 360px) {
    .swiper-button-prev::after,.swiper-button-next::after {
        color: #71b3ff;
        margin-top: -375px;

    }
    .swiper-button-prev::after {
        margin-left: 20px;
    }
    .swiper-button-next::after {
        margin-right: 20px;
    }
    .menu {
        opacity: 0;
    }
    .home {
        display: grid;
    }
    .home h1 {
        font-size: 3rem;
        align-self: flex-end;
        justify-self: center;
        margin-bottom: 50px;
    }
    .home h2 {
        font-size: 2.5rem;
        align-self: flex-start;
        justify-self: center;
    }
    .list {
        background-color: #555555;
    }
    .list img {
        margin-top: 30px;
        height: 50%;
    }
    .list h3 {
        font-size: 2rem;
        text-align: center;
        margin-top: 20px;
        color: #fff;
    }
    .list h4 {
        font-size: 1.5rem;
        text-align: center;
        color: #71b3ff;
        margin-bottom: 20px;
    }
    .list p {
        font-size: 1rem;
        text-align: center;
        margin-bottom: 50px;
        color: #fff;
    }
    .list .button {
        margin: 0 auto;
    }
    footer {
        background-color: #000;
    }
    .footer-wrapper h1 {
        padding-top: 5vh;
        padding-bottom: 5vh;
        font-size: 3rem;
        font-weight: bold;
        color: #fff;
        overflow: hidden;
        background: linear-gradient(90deg, #000, #fff, #000);
        background-repeat: no-repeat;
        background-size: 80%;
        animation: animate 3s linear infinite;
        -webkit-background-clip: text;
        -webkit-text-fill-color: rgba(255, 255, 255, 0);
}
@keyframes animate {
    0% {
    background-position: -500%;
    }
    100% {
    background-position: 500%;
    }
}
    .footer-wrapper h1 br {
        display: none;
    }
    .gray-color {
        color: #acacac;
    }
    footer a:hover {
        color: #fff;
    }
    .footer-bottom {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    footer a {
        color: #acacac;
        font-size: 1.1rem;
        font-family: 'Book Antiqua', 'Noto Sans', Arial, Helvetica, sans-serif;
        text-align: center;
        text-decoration: underline;
        text-underline-offset: 3px;
        transition: 0.5s;
    }
    footer a:hover {
        color: #fff;
    }
    footer .hide {
        opacity: 0;
    }
}
@media (width>=1440px) {
    .swiper-button-prev::after,.swiper-button-next::after {
        color: #71b3ff;
        margin-top: 0px;
        background-color: inherit;
        border: none;
        padding: 0;
    }
    .swiper-button-prev::after {
        margin-left: 200px;
    }
    .swiper-button-next::after {
        margin-right: 200px;
    }
    /***** header *****/
header {
    width: 100%;
}
header.color-change ul li {
    color: #fff;
}
.menu {
    display: flex;
    width: 100%;
    justify-content: right;
    align-items: center;
    font-size: 1.2rem;
    position: fixed;
    top: 0;
    z-index: 9999;
    height: 60px;
}
.menu li {
    margin-left: 7.5%;
    cursor: pointer;
}
.menu li:last-child {
    margin-right: 5%;
}
/***** main *****/
/* home */
.home {
    display: grid;
    justify-content: center;
    align-items: center;
}
.home h1 {
    font-size: 7rem;
    align-self: flex-end;
}
.home h2 {
    font-size: 4rem;
    justify-self: center;
    align-self: flex-start;
}
/* list */
.list {
    background-color: #555555;
    display: flex;
    z-index: 999;
}

.list img {
    width: 30%;
    height: 50%;
    left: 15%;
    position: absolute;
    top: 30%;
}
.list .txt {
    width: 30%;
    height: 30%;
    position: absolute;
    top: 40%;
    right: 15%;
}
.txt h3 {
    font-size: 2.5rem;
    color: #fff;
    margin-bottom: 0px;
    text-align: left;
}
.txt h4 {
    font-size: 1.5rem;
    color: #71b3ff;
    margin-bottom: 40px;
    text-align: left;
}
.txt p {
    color: #fff;
    font-size: 1.2rem;
    text-align: left;
}
.txt .button {
    position: absolute;

}
/***** footer *****/
footer {
    background-color: #000000;
}
footer .footer-wrapper {
    width: 90%;
    margin: 0 auto;
}
.footer-wrapper h1 br {
    display: block;
}
footer .footer-wrapper h1 {
    position: relative;
    font-size: 7rem;
    font-family: 'Pretendard', '맑은 고딕', '돋움', sans-serif;
    text-align: center;
    line-height: 10rem;
    color: #fff;
    font-weight: bold;
    padding-top: 10vh;
    padding-bottom: 10vh;
    overflow: hidden;
    background: linear-gradient(90deg, #000, #fff, #000);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 3s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}
@keyframes animate {
    0% {
    background-position: -500%;
    }
    100% {
    background-position: 500%;
    }
}
footer p {
    color: #fff;
    font-size: 1.1rem;
    font-family: 'Book Antiqua', 'Noto Sans', Arial, Helvetica, sans-serif;
}
footer a {
    color: #acacac;
    font-size: 1.1rem;
    font-family: 'Book Antiqua', 'Noto Sans', Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 3px;
    transition: 0.5s;
}
footer a:hover {
    color: #fff;
}
.footer-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.footer-bottom-1 {
    padding-bottom: 2.5vh;
}
.footer-bottom-2 {
    grid-column: 3/3;
    justify-self: right;
    align-self: center;
}
.gray-color {
    color: #acacac;
}
footer .footer-wrapper .hide {
    display: block;
    opacity: 1;
}
}