@charset "utf-8";

* {
  box-sizing: border-box;
}
body {
  font-family: "pretendard", "맑은 고딕", "돋움", sans-serif;
}
/***** header *****/
header.color-change .gnb {
  color: #fff;
}
header.color-change .gnb li:hover {
  border-bottom: 2px solid #ffffff;
}
.gnb {
  display: flex;
  width: 100%;
  justify-content: right;
  align-items: center;
  font-size: 1.2rem;
  position: fixed;
  top: 0;
  z-index: 999;
  height: 60px;
  color: #000;
}
header.menu-color .gnb {
  background-color: rgba(255, 255, 255, 0.95);
  color: #fff;
}
.gnb li {
  margin-left: 7.5%;
}
.gnb li:last-child {
  margin-right: 5%;
}
.gnb li::after {
  content: '';
  width: 0%;
  height: 2px;
  background: #000;
  display: block;
  transition: 0.5s;
}
header.menu-color .gnb li::after {
  background-color: #fff;
}
.gnb li:hover::after {
  width: 100%;
}
header {
  height: 100vh;
  display: grid;
  width: 100%;
}
header .home-title {

}
header .home-title .title-box li:first-child img{
  width: 5%;
}
header .home-title .title-box li:nth-child(2) img {
  width: 15%;
}
header .home-title h3 .margin {
  margin-left: 20px;
}
/***** main *****/